## Decision trees are generally used for classification problems. But it can also be used for regression problems by grouping the dependent variable (continuous) into buckets. <code>DecisionTreeRegressor()</code> from the scikit-learn library helps us to use decision trees for regression problems. The implementation is similar to <code>DecisionTreeClassifier()</code>.

# <b> The Boston Housing Dataset is a derived from information collected by the U.S. Census Service concerning housing in the area of Boston MA. The following describes the dataset columns:

* CRIM - per capita crime rate by town
* ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
* INDUS - proportion of non-retail business acres per town.
* CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
* NOX - nitric oxides concentration (parts per 10 million)
* RM - average number of rooms per dwelling
* AGE - proportion of owner-occupied units built prior to 1940
* DIS - weighted distances to five Boston employment centres
* RAD - index of accessibility to radial highways
* TAX - full-value property-tax rate per \$10,000
* PTRATIO - pupil-teacher ratio by town
* B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* LSTAT - % lower status of the population
* MEDV - Median value of owner-occupied homes in $1000's

## <b>Here MEDV is the continuous dependent variable.

## Build a predictor for MEDV using decision tree algorithm.

## Measure the performance of the model using regression evaluation metrics.

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, auc
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import load_boston

import warnings

warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# housing = pd.read_csv("/content/drive/MyDrive/Almabetter/Cohort Nilgiri/Module 4/Week 2/Day 3/Housing.csv")
boston_housing = pd.DataFrame( load_boston().data, columns= load_boston().feature_names)

In [4]:
boston_housing['MEDV'] = load_boston().target
boston_housing.sort_values(by='MEDV').head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
398,38.35180,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59,5.0
405,67.92080,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
400,25.04610,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
399,9.91655,0.0,18.1,0.0,0.693,5.852,77.8,1.5004,24.0,666.0,20.2,338.16,29.97,6.3
414,45.74610,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0

In [5]:
boston_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [6]:
boston_housing.describe([.25,.50,.75,.8,.85,.90,.95,.98])

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
80%,5.581070,20.000000,18.100000,0.000000,0.668000,6.750000,95.600000,5.615000,24.000000,666.000000,20.200000,396.900000,18.060000,28.200000
85%,8.008307,28.000000,18.100000,0.000000,0.693000,6.940000,97.300000,6.267675,24.000000,666.000000,20.200000,396.900000,19.805000,31.025000
90%,10.753000,42.500000,19.580000,0.000000,0.713000,7.151500,98.800000,6.816600,24.000000,666.000000,20.900000,396.900000,23.035000,34.800000
95%,15.789150,80.000000,21.890000,1.000000,0.740000,7.587500,100.000000,7.827800,24.000000,666.000000,21.000000,396.900000,26.807500,43.400000
98%,25.021660,85.000000,25.650000,1.000000,0.871000,8.066100,100.000000,8.906700,24.000000,666.000000,21.200000,396.900000,30.617000,50.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
X = boston_housing.drop(columns='MEDV', axis=1)
y = boston_housing['MEDV']

In [8]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,random_state=0,test_size=.2)

In [9]:
dt_reg = DecisionTreeRegressor(max_depth=4)
dt_reg.fit(xtrain,ytrain)

DecisionTreeRegressor(max_depth=4)

In [10]:
dt_reg.score(xtrain,ytrain)

0.8940532063860114

In [11]:
dt_reg.score(xtest,ytest)

0.6050298019890252

In [12]:
dt_reg.predict(xtest)[:5]

array([24.37241379, 20.70714286, 20.70714286, 14.        , 20.70714286])

In [13]:
ytest[:5]

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
Name: MEDV, dtype: float64